@model News

@{
    ViewData["Title"] = "Detail";
}
<div class="container ">
    <h1 class="text-center mb-5">@Html.DisplayFor(model => model.Title)</h1>
    <div class="row d-flex justify-content-around mb-5 p-3">

        <div class="col-md-6">
            <img src="~/img/@Html.DisplayFor(model => model.Image)" class="w-100" alt="Alternate Text" />
        </div>
        <div class="col-md-6">
            <p>@Html.DisplayFor(model => model.Description)</p>

        </div>
    </div>
</div>
@*<a class="btn btn-outline-info mx-2 btn-rounded" asp-controller="News" asp-action="Index">go Back</a>*@



