@*@model List<Contract>
<div class="row">
    @foreach (Contract contract in Model)
    {
        <div class="col-md-3 col-sm-12 my-3 kart">
            <div class="card text-center" style="width: 18rem;border:none;">
                <div class="card-body" style="background: #F3F3F3;
                            border-radius: 10px;  width: 298px;
                            height: 368px;">
                    <div class="text-center">
                        @Html.Raw(contract.Svg)
                    </div>
                    <p class="card-text" style="margin-top: 55px;
                                text-align: center;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 22px;
                                text-align: center;
                                color: #383838;">
                        @contract.Title
                    </p>
                    <a href="#" class="btn"
                       style="background-color:#00AAE2;border-radius:25px;padding: 6px 60px; margin-top:60px;">
                        Ətraflı
                        bax
                    </a>
                </div>
            </div>
        </div>
    }

</div>*@
   
