@model List<Exam>
@{
    ViewData["Title"] = "Index";
}

<main style="margin-bottom:100px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-5" style="font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #383838;">
                    Yoxlama sualları
                </h1>
                <span class="my-3"> Əmək Münasibətlərinin Monitorinqi Mərkəzi tərəfindən həyata keçirilən səyyar monitorinqlər zamanı aşağıdakı yoxlama suallarından istifadə olunur:</span>
            </div>
            @foreach (Exam exam in Model)
            {
                <div class="col-md-6">
                    <div class="box" style=" background: #FFFFFF;
                box-shadow: 0px 3px 5px rgba(176, 190, 197, 0.32), 0px 8px 24px rgba(176, 190, 197, 0.32);
                border-radius: 10px;">
                        <div class="text-center my-5">
                            @Html.Raw(exam?.SvgFirst)
                            @*<svg style="margin-top:20px;" width="322" height="181" viewBox="0 0 322 181" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.1" d="M150.988 181C206.311 181 251.16 173.752 251.16 164.811C251.16 155.869 206.311 148.621 150.988 148.621C95.664 148.621 50.8154 155.869 50.8154 164.811C50.8154 173.752 95.664 181 150.988 181Z" fill="#2A94F4" />
                                <path d="M190.969 0H74.6973V158.442H190.969V0Z" fill="#FFBE55" />
                                <path d="M210.34 164.811H94.0674V27.7366L111.257 6.36853H210.34V164.811Z" fill="#F7F7F7" />
                                <path d="M111.257 6.36853V27.7366H94.0674L111.257 6.36853Z" fill="#F2F2F2" />
                                <path d="M176.983 42.8032H113.757V45.2668H176.983V42.8032Z" fill="#FFBE55" />
                                <path d="M190.634 42.8032H180.236V45.2668H190.634V42.8032Z" fill="#FFBE55" />
                                <path d="M134.938 70.5062H113.757V72.9698H134.938V70.5062Z" fill="#FFBE55" />
                                <path d="M190.651 70.5062H137.42V72.9698H190.651V70.5062Z" fill="#FFBE55" />
                                <path d="M134.938 56.6631H113.757V59.1267H134.938V56.6631Z" fill="#FFBE55" />
                                <path d="M162.358 56.6631H139.634V59.1267H162.358V56.6631Z" fill="#FFBE55" />
                                <path d="M190.634 56.6631H164.605V59.1267H190.634V56.6631Z" fill="#FFBE55" />
                                <path d="M127.412 100.67L190.638 100.67V98.2066L127.412 98.2066V100.67Z" fill="#FFBE55" />
                                <path d="M113.776 100.67H124.174V98.2066H113.776V100.67Z" fill="#FFBE55" />
                                <path d="M127.412 114.513L190.638 114.513V112.049L127.412 112.049V114.513Z" fill="#FFBE55" />
                                <path d="M113.776 114.513H124.174V112.049H113.776V114.513Z" fill="#FFBE55" />
                                <path d="M169.459 86.8109H190.641V84.3473H169.459V86.8109Z" fill="#FFBE55" />
                                <path d="M142.045 86.8109H164.77V84.3473H142.045V86.8109Z" fill="#FFBE55" />
                                <path d="M113.775 86.8109H139.804V84.3473H113.775V86.8109Z" fill="#FFBE55" />
                                <path d="M114.646 140.677L113.757 138.901C113.79 138.884 116.122 137.728 118.771 136.152C118.419 135.717 118.117 135.23 117.849 134.711C115.602 130.337 117.43 128.158 118.319 127.437C120.499 125.644 124.591 125.862 127.241 127.94C127.945 128.493 128.28 129.264 128.197 130.085C128.079 131.175 127.308 133.002 122.092 136.42C123.467 137.225 125.01 137.476 126.318 137.526C130.377 137.661 134.083 135.884 134.67 134.912L136.431 131.962L136.515 135.398C136.532 136.119 136.817 137.091 137.135 137.191C137.186 137.208 138.209 137.493 141.11 133.806L142.67 135.029C140.07 138.331 138.108 139.621 136.498 139.085C135.643 138.8 135.156 138.063 134.871 137.342C132.909 138.616 129.538 139.638 126.234 139.538C123.853 139.454 121.824 138.783 120.247 137.594C117.363 139.32 114.763 140.61 114.646 140.677ZM122.109 128.192C121.119 128.192 120.197 128.443 119.576 128.963C118.084 130.186 118.973 132.515 119.627 133.789C119.878 134.275 120.163 134.711 120.482 135.08C125.631 131.795 126.167 130.27 126.218 129.868C126.234 129.784 126.234 129.666 126.016 129.482C124.926 128.644 123.45 128.192 122.109 128.192Z" fill="#FFBE55" />
                                <path d="M195.381 38.2949C195.381 38.2949 190.651 32.9152 192.161 29.3957C193.67 25.8763 198.533 26.3791 199.204 25.0383C199.875 23.6976 208.11 23.4127 208.747 26.7645C209.384 30.1164 214.197 37.7921 207.187 40.3731C200.177 42.954 195.381 38.2949 195.381 38.2949Z" fill="#0B4870" />
                                <path d="M201.871 53.8978C201.871 53.8978 203.263 70.9922 201.603 75.601C199.942 80.2098 194.408 97.4048 194.408 97.4048L191.154 95.8462C191.154 95.8462 193.838 81.5505 195.515 73.4055C197.192 65.2438 198.399 51.8196 200.68 46.6745L201.871 53.8978Z" fill="#DBA17B" />
                                <path d="M204.554 86.0253C204.554 86.0253 202.726 108.198 202.726 112.052C202.726 115.907 202.726 156.984 202.726 156.984H207.589C207.589 156.984 212.788 121.438 212.956 116.577C213.124 111.717 217.367 91.2542 217.367 91.2542C217.367 91.2542 221.14 72.7352 204.554 86.0253Z" fill="#FFBE55" />
                                <path d="M216.813 88.5392C216.813 88.5392 218.558 114.08 219.564 118.521C220.57 122.963 235.328 156.984 235.328 156.984H240.024C240.024 156.984 231.589 122.879 229.576 119.108C227.564 115.337 230.348 84.8018 230.348 84.8018L216.813 88.5392Z" fill="#FFBE55" />
                                <path d="M205.594 42.1831C205.594 42.1831 224.444 27.0327 231.941 93.7681H203.413C203.413 93.7681 206.164 87.4666 204.973 79.1037C202.726 63.3332 195.162 43.373 205.594 42.1831Z" fill="#2A94F4" />
                                <path d="M246.346 59.5457L249.634 64.255L178.894 117.08L172.253 107.544L246.346 59.5457Z" fill="#0B4870" />
                                <path d="M179.079 116.946L171.934 121.924C169.939 123.315 167.188 122.829 165.796 120.834L164.186 118.521C162.794 116.527 163.28 113.779 165.276 112.388L172.421 107.41L179.079 116.946Z" fill="#0E538C" />
                                <path d="M153.42 120.063L144.447 133.487L151.407 128.644C151.759 127.907 152.43 126.734 153.587 125.929C155.382 124.672 157.193 124.169 157.629 124.789C158.065 125.41 156.958 126.935 155.164 128.192C154.007 128.996 152.682 129.231 151.86 129.298L144.9 134.141L160.598 130.387C160.598 130.387 168.413 121.974 166.216 118.806C164.036 115.639 153.42 120.063 153.42 120.063Z" fill="#FFBE55" />
                                <path d="M214.986 54.0319L222.935 50.2275C222.935 50.2275 233.165 66.4505 234.457 73.3888C235.748 80.3271 215.623 91.3715 215.623 91.3715L214.365 90.1481C214.365 90.1481 226.071 76.7407 229.191 74.1597L214.986 54.0319ZM214.365 90.1481C214.365 90.1481 213.761 89.8129 212.084 90.1481C210.407 90.4833 208.395 92.7122 208.395 92.7122C208.395 92.7122 207.254 93.4664 211.413 92.4944C211.413 92.4944 206.936 96.1479 205.259 97.4048C203.581 98.6618 210.005 100.338 215.623 91.3715L214.365 90.1481Z" fill="#DBA17B" />
                                <path d="M217.333 58.8585L225.299 53.3615C225.299 53.3615 220.268 40.4569 210.239 40.7082C208.545 40.7585 206.013 45.0489 217.333 58.8585ZM196.789 61.6406L203.799 62.864L202.692 43.2892C202.692 43.2892 199.439 44.8813 198.667 48.5516C197.862 52.2554 196.789 61.6406 196.789 61.6406Z" fill="#2A94F4" />
                                <path d="M204.185 46.1047C204.185 46.1047 208.763 45.317 208.26 42.6356L205.342 36.6022L201.535 38.8983L204.185 46.1047Z" fill="#D19574" />
                                <path d="M194.257 33.9878C194.408 39.4178 199.204 43.7417 202.491 43.3395C206.986 42.7864 208.16 39.1161 207.892 36.7531C207.892 36.7531 208.847 35.5632 208.747 33.9208C208.596 31.4907 207.053 31.6918 207.053 33.2001C207.053 35.7475 206.617 33.0828 206.282 31.1052C205.946 29.1276 204.135 35.4794 200.965 34.6582C194.425 32.999 194.106 28.5746 194.257 33.9878Z" fill="#DBA17B" />
                                <path d="M202.742 156.984C202.742 156.984 202.273 158.895 200.227 159.213C196.839 159.749 193.401 159.984 192.965 162.129C192.512 164.274 192.965 163.805 192.965 163.805H203.598C203.598 163.805 205.275 162.632 206.616 163.805H209.182C209.182 163.805 208.629 159.598 208.511 158.928C208.394 158.241 207.623 156.984 207.623 156.984H202.742ZM235.227 156.984C235.227 156.984 236.066 158.543 232.712 159.213C229.358 159.9 225.886 159.984 225.45 162.129C224.997 164.274 225.45 163.805 225.45 163.805H236.083C236.083 163.805 237.76 162.632 239.101 163.805H241.667C241.667 163.805 241.114 159.598 240.997 158.928C240.879 158.241 240.108 156.984 240.108 156.984H235.227Z" fill="#0B4870" />
                            </svg>*@
                        </div>
                        <div>

                            <p class="text-center" style="font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    text-align: center;
                    color: #383838;">
                                @exam?.TitleFirst
                                @*Tikintidə çalışan şəxs(lər)lə əmək müqaviləsi və ya
                                mülki-hüquqi müqavilənin bağlanılması təmin edilir?*@
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="box" style="background: #FFFFFF;
             box-shadow: 0px 3px 5px rgba(176, 190, 197, 0.32), 0px 8px 24px rgba(176, 190, 197, 0.32);
             border-radius: 10px;">
                        <div class="text-center my-5">
                            @Html.Raw(exam?.SvgSecond)
                            @*<svg style="margin-top:20px;" width="246" height="178" viewBox="0 0 246 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M188.573 22.8662C195.531 25.224 202.447 28.1008 207.315 32.6186C212.183 37.1364 214.62 43.6308 211.7 49.0657C207.8 56.3251 195.444 60.5461 195.386 68.4112C195.345 74.044 202.049 78.3422 208.819 80.3912C215.586 82.4377 223.079 83.1762 229.236 86.1688C238.525 90.6842 242.881 99.4254 244.664 107.812C246.516 116.519 245.765 126.433 237.818 132.752C227.94 140.605 211.601 139.719 197.616 138.044C178.953 135.809 160.373 133.184 141.797 130.56C101.074 124.807 60.3507 119.051 19.6275 113.297C15.2618 112.68 10.7174 112.006 7.16974 109.938C0.125121 105.833 -0.473393 97.3572 3.62209 91.3069C7.71758 85.2565 15.2931 81.1466 22.818 77.5869C30.3429 74.0296 38.2877 70.6653 43.9253 65.4114C49.5606 60.1575 52.3649 52.3816 48.1005 46.4013C44.4877 41.3357 36.7238 38.6279 33.3403 33.4681C28.8804 26.6696 34.0112 17.9863 42.1032 13.6471C50.1953 9.30785 151.813 10.4035 188.573 22.8662Z" fill="#F7F7F7" />
                                <path d="M204.595 98.4987L201.518 99.1117L201.076 96.8987C200.777 95.3927 199.382 94.3984 197.97 94.6784L182.802 97.7047C181.39 97.9871 180.483 99.4399 180.785 100.946L181.226 103.159L178.149 103.772C177.799 103.842 177.575 104.204 177.647 104.576L180.869 120.733C180.944 121.105 181.292 121.353 181.641 121.283L208.092 116.008C208.442 115.938 208.666 115.576 208.594 115.204L205.372 99.0466C205.292 98.6773 204.945 98.4287 204.595 98.4987ZM200.784 99.2589L181.955 103.014L181.514 100.801C181.299 99.7247 181.946 98.687 182.954 98.4867L198.122 95.4603C199.131 95.26 200.128 95.9695 200.343 97.0459L200.784 99.2589Z" fill="#FFBE55" />
                                <path d="M194.513 109.125L191.354 109.755L177.957 105.558L178.046 105.43L191.387 109.61L194.426 109.004L205.144 100.024L205.274 100.108L194.513 109.125Z" fill="white" />
                                <path d="M122.099 73.1777C122.099 73.1777 119.191 72.2195 118.619 72.555C118.047 72.8905 115.093 76.8629 115.093 76.8629L119.048 78.7501L123.527 75.8444L122.099 73.1777ZM191.903 92.5401C191.903 92.5401 194.273 97.3427 193.776 98.1995C193.276 99.0586 187.911 100.024 187.911 100.024L186.475 95.2069L189.036 92.5377H191.903V92.5401Z" fill="#FCD2B1" />
                                <path d="M157.129 86.5019L149.237 171.481H154.327C154.327 171.481 166.428 136.208 162.39 131.54C163.689 125.76 171.954 102.862 170.045 100.417C168.136 97.9726 164.637 85.2083 164.637 85.2083L157.129 86.5019Z" fill="#083047" />
                                <path d="M159.012 88.7922L163.114 94.4419L180.032 171.481H185.407C185.407 171.481 185.853 132.834 182.001 127.954C180.462 119.222 179.733 89.521 178.596 86.2654C173.461 86.0096 159.977 84.4264 159.977 84.4264L159.012 88.7922Z" fill="#0A3951" />
                                <path d="M187.694 47.1712C185.073 43.054 177.479 43.4329 171.677 42.8875C169.997 42.7306 168.595 42.0235 167.403 41.8618L159.504 44.2414C159.05 44.3379 152.703 44.8037 151.977 45.2405C151.89 45.3419 145.014 69.5335 122.051 72.7529C122.292 74.4423 122.051 76.8557 122.051 76.8557C122.051 76.8557 145.699 77.5411 153.133 63.6883C154.764 78.8612 157.129 86.5019 157.129 86.5019L178.849 87.4576C178.849 87.4576 179.969 64.3086 182.383 58.9991C194.932 66.9633 187.933 93.269 187.933 93.269C187.933 93.269 188.899 93.7516 192.036 93.269C199.279 74.925 191.073 52.4806 187.694 47.1712Z" fill="white" />
                                <path d="M162.39 46.5075L164.919 50.1179L170.045 42.3155L168.182 41.1378L162.39 46.5075Z" fill="#F2F2F2" />
                                <path d="M162.39 46.5075L161.604 50.1179L159.012 44.572L159.977 42.8875L162.39 46.5075Z" fill="#F2F2F2" />
                                <path d="M161.862 49.196L162.391 50.8299L159.83 79.0784C159.83 79.0784 163.1 92.0961 163.32 91.2997C163.539 90.5032 166.744 80.133 166.744 80.133L163.827 50.8709L164.082 49.1791L162.393 46.5051L161.862 49.196Z" fill="#FFBE55" />
                                <path d="M168.192 20.4601C170.847 22.6321 172.053 27.7002 170.847 30.3549C169.64 33.0096 166.503 34.4576 165.296 35.9056C162.883 33.0096 159.504 31.0789 159.504 31.0789L161.193 23.8388L164.572 22.1494L168.192 20.4601Z" fill="#0E538C" />
                                <path d="M159.987 37.2522V43.527L162.401 47.1471L168.193 41.7773L165.9 30.6638L159.987 37.2522Z" fill="#FCD2B1" />
                                <path d="M152.576 22.5524C153.252 30.0604 149.661 37.3319 153.703 39.6198C154.606 40.7565 163.689 42.009 164.816 38.5965C165.944 35.184 168.815 25.5112 166.559 22.5524C164.305 19.5937 152.576 22.5524 152.576 22.5524Z" fill="#FFE3CA" />
                                <path d="M163.124 23.3561C162.642 25.2868 163.124 28.9068 165.055 29.3895C165.055 30.3114 164.956 31.9211 164.886 32.9661C164.847 33.5429 165.287 34.0401 165.863 34.0714C166.317 34.0956 166.744 34.0907 166.744 33.9749C166.744 33.7336 168.192 23.3561 168.192 23.3561H163.124Z" fill="#0E538C" />
                                <path d="M168.599 31.3228C168.979 29.9067 168.591 28.572 167.732 28.3416C166.873 28.1113 165.869 29.0726 165.49 30.4886C165.11 31.9047 165.498 33.2394 166.357 33.4698C167.215 33.7001 168.219 32.7389 168.599 31.3228Z" fill="#FFE3CA" />
                                <path d="M165.297 29.1482L165.056 33.4922L166.262 33.7336L166.745 27.7001L165.297 29.1482Z" fill="#0E538C" />
                                <path d="M168.279 23.8146C164.278 24.7824 160.187 25.3712 156.078 25.5764C153.956 25.6826 151.598 25.6005 150.049 24.1477C148.772 22.9506 148.355 20.991 148.833 19.3064C149.31 17.6219 150.59 16.2318 152.132 15.404C153.674 14.5762 155.455 14.2722 157.205 14.2963C156.541 14.1829 155.964 14.9503 156.094 15.6116C156.225 16.2728 156.85 16.7435 157.504 16.91C158.158 17.0765 158.843 16.9993 159.517 16.9462C161.204 16.8159 162.917 16.8472 164.556 17.2647C166.194 17.6798 167.826 18.568 168.603 20.0715C169.38 21.575 168.962 23.7446 167.43 24.459" fill="#0E538C" />
                                <path d="M115.042 73.1777C115.042 73.1777 117.953 72.2196 118.523 72.555C119.092 72.8905 122.048 76.8629 122.048 76.8629L118.093 78.7502L113.614 75.8445L115.042 73.1777ZM45.2382 92.5401C45.2382 92.5401 42.8683 99.6113 43.3654 100.876C43.865 102.141 49.2299 103.562 49.2299 103.562L48.7303 98.0523L50.1036 100.244L50.7286 98.0523L48.1077 92.5426H45.2382V92.5401Z" fill="#FCD2B1" />
                                <path d="M86.3829 169.633L98.8866 173.69H83.6631V169.633H86.3829Z" fill="#0A3951" />
                                <path d="M55.3939 169.633L66.8139 173.69H51.7207L52.4954 169.633H55.3939Z" fill="#0A3951" />
                                <path d="M79.4431 87.5227L87.9044 171.481H82.8146C82.8146 171.481 70.7139 136.208 74.7515 131.54C73.4531 125.76 65.1873 102.862 67.0963 100.417C69.0053 97.9726 72.5047 85.2083 72.5047 85.2083L79.4431 87.5227Z" fill="#083047" />
                                <path d="M78.1325 88.7922L74.0298 94.4419L57.1121 171.481H51.7375C51.7375 171.481 51.291 132.834 55.1428 127.954C56.6825 119.222 57.643 88.7922 60.4691 86.7384C65.6047 86.4826 77.1672 84.4264 77.1672 84.4264L78.1325 88.7922Z" fill="#0A3951" />
                                <path d="M79.8579 97.8519L74.5485 86.2678L63.9297 97.8519L59.1029 89.1638C59.1029 89.1638 57.1722 64.3061 54.7589 58.9967C42.2094 66.9608 49.2081 93.2666 49.2081 93.2666C49.2081 93.2666 48.2428 93.7492 45.1054 93.2666C37.8653 74.925 46.0707 52.4806 49.4495 47.1712C52.0704 43.054 59.769 42.1297 65.5708 41.5843C67.2505 41.4274 69.6156 42.7741 70.8078 42.6124C70.8078 42.6124 76.2017 42.4314 80.7871 43.7056L80.7919 43.708C82.7708 44.2583 84.4409 44.8037 85.1673 45.2405C86.6153 46.9299 79.8579 97.8519 79.8579 97.8519Z" fill="#0E538C" />
                                <path d="M85.1676 45.2405C85.1676 45.2405 89.2704 69.1329 115.093 72.7529C114.852 74.4423 115.093 76.8557 115.093 76.8557C115.093 76.8557 90.2357 77.5797 83.4783 62.6168C81.3062 48.3779 85.1676 45.2405 85.1676 45.2405Z" fill="#0E538C" />
                                <path d="M79.4433 43.3436L74.8628 72.0603L65.5713 41.5843C67.251 41.4274 68.7714 41.2995 69.9636 41.1378L79.4433 43.3436Z" fill="white" />
                                <path d="M68.9585 19.8205C66.3038 21.9926 65.0971 27.0606 66.3038 29.7153C67.5105 32.37 70.6479 33.8181 71.8546 35.2661C74.2679 32.37 77.6466 30.4393 77.6466 30.4393L75.9573 23.1992L72.5786 21.5099L68.9585 19.8205Z" fill="#0E538C" />
                                <path d="M77.1644 36.6127V42.8875L74.7511 46.5075L68.959 41.1378L71.2517 30.0242L77.1644 36.6127Z" fill="#FCD2B1" />
                                <path d="M85.6111 21.9926C84.8871 29.9567 85.3698 38.8861 84.4044 40.0928C83.4391 41.2995 73.7856 41.2995 72.5789 37.6795C71.3722 34.0594 68.2349 25.1299 70.6482 21.9926C73.0616 18.8552 85.6111 21.9926 85.6111 21.9926Z" fill="#FFE3CA" />
                                <path d="M74.0271 22.7166C74.5097 24.6472 74.0271 28.2673 72.0964 28.75C72.0964 29.6719 72.1953 31.2816 72.2653 32.3266C72.3039 32.9034 71.8647 33.4005 71.2879 33.4319C70.8342 33.456 70.407 33.4512 70.407 33.3354C70.407 33.094 68.959 22.7166 68.959 22.7166H74.0271V22.7166Z" fill="#0E538C" />
                                <path d="M70.7917 32.8413C71.6503 32.6109 72.0385 31.2762 71.6586 29.8602C71.2788 28.4441 70.2747 27.4828 69.4161 27.7132C68.5574 27.9435 68.1693 29.2782 68.5491 30.6943C68.929 32.1104 69.933 33.0716 70.7917 32.8413Z" fill="#FFE3CA" />
                                <path d="M71.8552 28.5086L72.0966 32.8527L70.8899 33.094L70.4072 27.0606L71.8552 28.5086Z" fill="#0E538C" />
                                <path d="M72.9048 23.0665C74.29 24.1694 76.129 24.6859 77.8835 24.4638C79.2736 24.2877 80.5937 23.6771 81.9935 23.6433C83.065 23.6168 84.1124 23.9329 85.1791 24.0343C86.41 24.1501 87.7035 23.9643 88.7437 23.2958C89.7838 22.6273 90.5223 21.4254 90.433 20.1922C90.31 18.4715 88.6423 17.1851 86.9385 16.9052C85.2347 16.6252 83.5115 17.1127 81.8559 17.6051C80.2028 18.095 78.4845 18.5994 76.7782 18.3508C75.5836 18.177 74.4662 17.6388 73.274 17.4409C71.9828 17.2237 70.6241 17.4216 69.4488 17.996C68.5607 18.4304 67.7643 19.0893 67.2744 19.9508C66.7845 20.8124 66.6348 21.8815 66.9751 22.8107C67.2816 23.6457 67.9622 24.3142 68.7586 24.71C69.555 25.1058 70.46 25.2458 71.3505 25.2289L72.9048 23.0665Z" fill="#0E538C" />
                                <path d="M74.7514 46.5076L72.2246 50.118L67.0986 42.3155L68.9593 41.1378L74.7514 46.5076Z" fill="#F2F2F2" />
                                <path d="M74.751 46.5076L75.5377 50.118L78.1321 44.572L77.1643 42.8875L74.751 46.5076Z" fill="#F2F2F2" />
                                <path d="M75.2799 48.9354L74.7513 50.41L76.9427 59.0088C76.9427 59.0088 75.0795 72.7795 74.8599 72.0603C74.6403 71.3411 70.7041 58.4248 70.7041 58.4248L73.3178 50.4462L73.062 48.9209L74.7513 46.5076L75.2799 48.9354Z" fill="#FFBE55" />
                                <path d="M115.518 78.0116C115.983 77.36 117.383 75.6151 117.383 75.6151L120.926 78.0116L118.503 79.5972L115.518 78.0116ZM122.147 73.1777C122.147 73.1777 120.332 72.2968 119.114 72.2195C117.895 72.1423 116.29 73.8775 116.29 73.8775C116.29 73.8775 116.341 74.1889 116.99 74.1889C117.637 74.1889 118.933 73.5662 118.933 73.5662L122.203 74.937L122.147 73.1777Z" fill="#FFE3CA" />
                                <path d="M214.331 0.634216H186.14C180.558 0.634216 175.992 5.1979 175.992 10.7752C175.992 14.6728 178.222 18.0708 181.468 19.7674L180.853 22.661C180.853 22.661 185.407 20.9162 186.14 20.9162H214.331C219.913 20.9162 224.479 16.3525 224.479 10.7752C224.479 5.1979 219.913 0.634216 214.331 0.634216Z" fill="#2A94F4" />
                                <path d="M216.684 3.27203H188.494C182.912 3.27203 178.346 7.83571 178.346 13.413C178.346 17.3106 180.576 20.7086 183.822 22.4052L183.206 25.2988C183.206 25.2988 187.76 23.554 188.494 23.554H216.684C222.267 23.554 226.833 18.9903 226.833 13.413C226.833 7.83571 222.267 3.27203 216.684 3.27203Z" stroke="#2A94F4" stroke-miterlimit="10" />
                                <path d="M61.4562 7.91537H30.635C29.3535 7.91537 28.3037 8.96519 28.3037 10.2467V24.7293C28.3037 26.0108 29.3535 27.0606 30.635 27.0606H53.8999L58.2174 30.2776L56.4001 27.0606H61.4586C62.7401 27.0606 63.7899 26.0108 63.7899 24.7293V10.2467C63.7899 8.96519 62.7401 7.91537 61.4562 7.91537Z" fill="#CCE9FF" />
                                <path d="M60.6138 9.41647H29.7903C28.5088 9.41647 27.459 10.4663 27.459 11.7478V26.2304C27.459 27.5119 28.5088 28.5617 29.7903 28.5617H53.0552L57.3727 31.7787L55.5554 28.5617H60.6138C61.8953 28.5617 62.9451 27.5119 62.9451 26.2304V11.7478C62.9451 10.4663 61.8953 9.41647 60.6138 9.41647Z" stroke="#CCE9FF" stroke-miterlimit="10" />
                                <path d="M23.2095 176.677C28.4417 176.677 30.6499 172.5 31.5187 168.066C32.501 163.066 31.7794 157.745 31.7794 157.745H14.6396C14.6396 157.745 14.6131 157.947 14.5745 158.309C14.2559 161.456 13.223 176.677 23.2095 176.677Z" fill="#B6E7FF" />
                                <path d="M14.6396 157.744C14.6396 158.119 18.4769 158.423 23.2119 158.423C27.9445 158.423 31.7842 158.119 31.7842 157.744C31.7842 157.37 27.947 157.066 23.2119 157.066C18.4769 157.066 14.6396 157.37 14.6396 157.744Z" fill="#85DDFF" />
                                <path d="M0 110.223C0 110.223 9.04048 123.977 14.4633 132.37C19.8862 140.764 21.3076 142.506 21.952 145.219C22.5988 147.932 23.178 157.938 23.178 157.938H23.5786C23.5786 157.938 23.4386 149.443 22.9511 146.585C22.4781 143.822 22.9849 142.83 23.3735 139.924C23.762 137.018 24.2785 132.37 21.339 129.141C18.4019 125.912 19.1766 122.748 18.1437 120.62C17.1108 118.489 9.10323 115.906 8.0703 113.71C7.03738 111.514 2.51956 110.158 0 110.223Z" fill="#2A94F4" />
                                <path d="M0 110.223C0 110.223 2.84053 113.452 4.77847 114.55C6.7164 115.648 7.619 114.678 9.10323 117.325C10.5874 119.973 10.6454 121.136 12.0041 122.49C13.3628 123.846 14.9774 123.911 15.1077 126.88C15.238 129.851 14.4633 132.368 14.4633 132.368C14.4633 132.368 0.581622 110.932 0 110.223Z" fill="#41AAF7" />
                                <path d="M22.4635 157.938H22.0581C22.0581 157.938 21.9374 155.189 20.8441 153.854C20.1394 152.993 17.1469 152.015 14.1905 150.842C12.5615 150.198 10.9445 149.493 9.72334 148.716C6.28429 146.532 3.00693 139.495 2.72698 138.24C2.62804 137.803 2.5846 137.537 2.58701 137.356V137.352C2.59425 137.014 2.76077 136.963 3.05038 136.623C3.19035 136.459 3.60786 136.514 4.1195 136.671C5.60131 137.122 6.85384 138.138 7.62854 139.48C8.34531 140.721 9.49166 142.272 10.8962 142.649C13.3241 143.296 13.1214 143.699 14.0167 146.168C14.9097 148.636 17.1662 149.039 19.997 151.95C22.8279 154.863 22.4635 157.938 22.4635 157.938Z" fill="#2A94F4" />
                                <path d="M14.1905 150.842C12.5615 150.198 10.9445 149.493 9.72334 148.716C6.28429 146.532 3.00693 139.495 2.72698 138.24C2.62804 137.803 2.5846 137.537 2.58701 137.356C2.59666 137.438 2.75595 138.553 4.54908 139.294C6.40737 140.062 6.77179 140.062 7.01554 141.235C7.25929 142.408 7.46201 143.663 8.43219 143.904C9.40236 144.148 10.0105 143.054 10.7756 144.833C11.5454 146.612 11.9123 147.22 12.617 147.461C13.3241 147.705 13.8599 147.34 14.0167 148.716C14.1108 149.556 14.1639 150.352 14.1905 150.842Z" fill="#41AAF7" />
                                <path d="M25.4371 157.938H25.9173C25.9173 157.938 26.8561 140.911 28.1473 139.331C28.9799 138.31 31.7311 136.483 35.2353 135.093C37.1636 134.328 39.0823 133.495 40.5279 132.576C44.6016 129.988 48.4823 121.653 48.8154 120.166C48.9336 119.65 48.9843 119.336 48.9819 119.119V119.114C48.9722 118.713 48.7743 118.653 48.4341 118.252C48.2699 118.057 47.7728 118.124 47.167 118.31C45.4101 118.846 43.9283 120.048 43.0112 121.638C42.1617 123.108 40.803 124.947 39.1402 125.391C36.2659 126.158 36.5048 126.636 35.4429 129.559C34.3858 132.481 31.7118 132.959 28.3597 136.408C25.0051 139.857 25.4371 157.938 25.4371 157.938Z" fill="#2A94F4" />
                                <path d="M35.2354 135.093C37.1636 134.328 39.0823 133.495 40.5279 132.575C44.6016 129.988 48.4823 121.653 48.8154 120.166C48.9336 119.649 48.9843 119.336 48.9819 119.119C48.9698 119.217 48.7816 120.535 46.6602 121.411C44.4592 122.319 44.0273 122.319 43.7401 123.711C43.4529 125.099 43.2115 126.585 42.0628 126.873C40.914 127.16 40.1948 125.866 39.285 127.973C38.3727 130.08 37.9407 130.799 37.1033 131.086C36.2659 131.374 35.6311 130.942 35.4453 132.573C35.3295 133.57 35.2667 134.513 35.2354 135.093Z" fill="#41AAF7" />
                                <path d="M23.2095 176.677C28.4417 176.677 30.6499 172.5 31.5187 168.066C26.3903 166.121 19.9321 163.006 14.5745 158.309C14.2559 161.456 13.223 176.677 23.2095 176.677Z" fill="#CCE9FF" />
                                <path d="M223.792 177.317C227.255 177.317 228.715 174.551 229.292 171.617C229.941 168.308 229.466 164.784 229.466 164.784H218.121C218.121 164.784 218.104 164.919 218.077 165.158C217.865 167.244 217.182 177.317 223.792 177.317Z" fill="#B6E7FF" />
                                <path d="M218.118 164.787C218.118 165.035 220.657 165.236 223.792 165.236C226.925 165.236 229.466 165.035 229.466 164.787C229.466 164.538 226.927 164.338 223.792 164.338C220.659 164.338 218.118 164.538 218.118 164.787Z" fill="#85DDFF" />
                                <path d="M205.188 127.109C205.188 127.109 212.35 138.006 216.646 144.657C220.944 151.308 222.069 152.689 222.581 154.836C223.092 156.984 223.553 164.915 223.553 164.915H224.116C224.116 164.915 224.473 158.213 223.809 156.014C223.143 153.816 223.399 152.944 223.708 150.642C224.014 148.34 224.424 144.657 222.096 142.099C219.769 139.541 220.382 137.035 219.564 135.346C218.746 133.657 212.401 131.613 211.583 129.873C210.765 128.133 207.183 127.059 205.188 127.109Z" fill="#2A94F4" />
                                <path d="M206.754 127.109C206.754 127.109 209.006 129.667 210.54 130.536C212.075 131.405 212.792 130.638 213.967 132.735C215.145 134.832 215.189 135.754 216.267 136.828C217.344 137.902 218.623 137.952 218.727 140.306C218.828 142.659 218.215 144.654 218.215 144.654C218.215 144.654 207.215 127.672 206.754 127.109Z" fill="#41AAF7" />
                                <path d="M225.935 164.787L226.346 164.664C226.346 164.664 225.634 161.845 226.336 160.163C226.787 159.077 229.519 157.18 232.157 155.097C233.61 153.951 235.034 152.746 236.035 151.59C238.854 148.337 240.034 140.221 239.94 138.865C239.909 138.392 239.873 138.112 239.815 137.928L239.812 137.924C239.704 137.583 239.518 137.583 239.122 137.327C238.931 137.202 238.523 137.388 238.055 137.702C236.692 138.609 235.734 140.016 235.355 141.609C235.005 143.083 234.315 145.002 233.009 145.806C230.75 147.198 231.076 147.543 230.917 150.314C230.762 153.082 228.6 154.175 226.618 157.981C224.635 161.785 225.935 164.787 225.935 164.787Z" fill="#2A94F4" />
                                <path d="M232.157 155.095C233.609 153.948 235.033 152.744 236.035 151.588C238.854 148.335 240.034 140.219 239.94 138.862C239.908 138.389 239.872 138.109 239.814 137.926C239.829 138.013 240.005 139.188 238.417 140.482C236.768 141.821 236.399 141.932 236.51 143.194C236.621 144.454 236.795 145.786 235.885 146.327C234.975 146.867 234.032 145.946 233.795 147.978C233.556 150.012 233.37 150.736 232.729 151.197C232.087 151.656 231.435 151.45 231.691 152.891C231.848 153.767 232.036 154.59 232.157 155.095Z" fill="#41AAF7" />
                                <path d="M223.792 177.317C227.255 177.317 228.715 174.551 229.292 171.617C225.899 170.33 221.622 168.267 218.077 165.158C217.865 167.244 217.182 177.317 223.792 177.317Z" fill="#CCE9FF" />
                            </svg>*@

                        </div>
                        <div>

                            <p class="text-center" style="font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    text-align: center;
                    color: #383838;">
                            @exam?.TitleSecond
    @*Tikintidə çalışan şəxs(lər) əmək müqaviləsi və ya mülki-hüquqi müqavilə hüquqi qüvvəyə mindikdən sonra fəaliyyətə başlayıb?*@</p>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</main>
