
@{
    ViewData["Title"] = "Update";
}

@model Penalty
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body ">
                <div class="d-flex justify-content-between">

                    <h4 class="card-title">UPDATE</h4>
                </div>

                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Text" for="exampleInputName1"></label>
                        <textarea rows="6" asp-for="Text"  class="form-control" id="Description"></textarea>
                        <span asp-validation-for="Text"></span>
                    </div>
                    <select name="PenaltyCategoryId" class="form-select w-100 p-2 mb-4 text-center" aria-label="Default select example">
                        <option selected>--Category--</option>
                        @foreach (PenaltyCategory category in ViewBag.PenaltyCategories)
                        {
                            if (Model.PenaltyCategoryId == category.Id)
                            {
                                <option selected value="@category.Id">@category.Title</option>

                            }
                            else
                            {
                                <option value="@category.Id">@category.Title</option>

                            }


                        }
                    </select>
                    <button type="submit" class="btn btn-primary mr-2 my-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Penalty" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/ckeditor_4.20.1_full/ckeditor/ckeditor.js"></script>
    <script>

        CKEDITOR.replace("Description");
    </script>
}