@*@model Legislation
<form asp-action="Search" asp-controller="Dashboard" method="get" class="d-none d-md-flex ms-4">
    <div class="form-group">
        <input name="searchTerm" class="form-control border-0" value="@ViewData["CurrentFilter"]" type="text" placeholder="Search">
        <button type="submit" value="Search" class="btn btn-primary">Search</button>
    </div>
</form>*@
@*<div id="searchResult">

    </div>*@