@model GeneralInformation
<main style="margin-bottom:100px;">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 col-sm-12"> <img src="~/img/@Model?.Image " class="img" alt=""></div>
            <div class="col-md-12">
                <h2 class="pageb my-3">@Html.Raw(Model?.Title)</h2>
                <p class="page">@Html.Raw(Model?.Description) </p>

            </div>
        </div>
    </div>
</main>